<table class="table table-hover table-sm">
    <tr>
        <th>№</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Work experience</th>
        <th>Age</th>
        <th>Salary</th>
        <th>Group</th>
        <th>🖉</th>
        <th>🚮</th>
    </tr>
    {% for teacher in list_objects %}
        <tr>
            <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
            <td>{{ teacher.first_name }}</td>
            <td>{{ teacher.last_name }}</td>
            <td>{{ teacher.email }}</td>
            <td>{{ teacher.work_experience }}</td>
            <td>{{ teacher.age }}</td>
            <td>{{ teacher.salary }}</td>
            <td>{% if teacher.group %}{{ teacher.group }}{% endif %}</td>
            <td><a href="{% url 'teachers:update' teacher.id %}">EDIT</a></td>
            <td><a href="{% url 'teachers:delete' teacher.id %}">DELETE</a></td>
        </tr>
    {% endfor %}
</table>