{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    <title>Update student</title>
{% endblock %}

{% block action %}
    <h3>Update student</h3>
{% endblock action %}

{%block content%}
    <form method="post">
        {% csrf_token %}
{#        {{form.as_p}} # оформление django#}
        {{ form | crispy }}
        <input class="btn btn-primary" type="submit" value="Update">
        <a class="btn btn-primary" href="{% url 'students:list' %}">Cancel</a>
    </form>
{% endblock %}