{% extends 'base.html' %}

{% block title %}
<title>Groups list</title>
{% endblock %}

{% block action %}
    <h3>List of groups</h3>
{% endblock action %}

{% block content %}
    <form method="get">
        <label >Username:</label>
        <input type="text" name="username"><br><br>

        <label >Access level:</label>
        <input type="text" name="access_level"><br><br>

        <input type="submit" value="Search">
    </form>

    <p><strong>Count of groups: {{ groups.count }}</strong></p>

    <table class="table table-hover table-sm">
        <tr>
            <th>№</th>
            <th>Username</th>
            <th>Access level</th>
            <th>🖉</th>
            <th>🚮</th>
        </tr>
        {% for group in groups %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ group.username }}</td>
            <td>{{ group.access_level }}</td>
            <td><a href="{% url 'groups:update' group.id %}">EDIT</a></td>
            <td><a href="{% url 'groups:delete' group.id %}">DELETE</a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
